<ziggeo ziggeo-limit="60"
        ziggeo-width="320"
        ziggeo-height="240"
        ziggeo-perms="allowupload"
        ziggeo-tags="<%= current_user.uid %>"
></ziggeo>

<progress class="progress progress-striped hidden-xs-up" value="0" max="100"></progress>
<!--

<label for="video_title">Title</label>
<input type="text" id="video_title">-->
