<div class="form-group">
  <%= form.label :email %>
  <%= form.email_field :email, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :password %>
  <%= form.password_field :password, class: 'form-control' %>
</div>
